extends ../layout

block header
  include ../components/header.pug

block content
  div.container
    article.space-y-4.mb-8
      h1.text-4xl.mt-4 #{article.title}

      div.flex.items-center
        span.font-light Posted on #{article.createdDate.toLocaleDateString()} by
        div.flex.items-center
          img.mx-1.w-10.h-10.object-cover.rounded-full(src=`${article.authorAvatarUrl}` alt="avatar" class="sm:block")
          span.font-light.text-gray-700(class="hover:underline") #{article.author}

      section.space-y-4 !{article.sanitizedHtml}

block footer
  include ../components/footer.pug
